<%- include('./partials/navbar') %>
<%- include('./partials/general') %>

<h6 class="montserrat">Edit Tour</h6>

<form class="editTour" action="/tours/<%= data.id %>/edit" method="POST">

  <% if (errValidate) {%>
    <p class="errMessage"><%= errValidate %></p>
  <% } %>

  <label for="name">Name</label><br>
  <input type="text" name="name" value="<%= data.name %>"><br>

  <label for="destination">Destination</label><br>
  <input type="text" name="destination" value="<%= data.destination %>"><br>

  <label for="latitude">Coordinate</label><br>
  <label for="latitude">Lat.</label>
  <input type="number" id="lat" step="any" name="latitude" value="<%= data.latitude %>">
  <label for="longitude">Lon.</label>
  <input type="number" id="lng" step="any" name="longitude" value="<%= data.longitude %>"><br><br>
 
  <div id="googleMap" style="width:100%;height:380px; position: fixed;"></div><br>

  <button type="submit">Edit Tour</button>
  <button type="button" onclick="javascript:window.location=`/tours`">cancel</button>

</form>

<%- include('./partials/footer') %>