<%- include('./partials/header') %>
<h2>Edit Tourist</h2>

<form action="/tourists/<%= data.id %>/edit" method="POST">
  <% if (errValidate) {%>
    <p class="errMessage"><%= errValidate %></p>
  <% } %>
  <label for="first_name">First Name</label><br>
  <input type="text" name="first_name" value="<%= data.first_name %>"><br>
  <label for="last_name">Last Name</label><br>
  <input type="text" name="last_name" value="<%= data.last_name %>"><br>
  <label for="age">Age</label><br>
  <input type="number" name="age" value="<%= data.age %>"><br>
  <label for="phone">Phone</label><br>
  <input type="text" name="phone" value="<%= data.phone %>"><br>
  <button type="submit">Edit Tourist</button>
  <button type="button" onclick="javascript:window.location='/tourists'">cancel</button>
</form>

<%- include('./partials/footer') %>