<%- include('./partials/header') %>

<h2>Tour List</h2>
<p><a href="/tours/add" class="btnMenu">add tour</a></p>
<table class="zui-table">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Destination</th>
      <th>Tourist</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((element, index) => { %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= element.name %></td>
        <td><%= element.destination %></td>
        <td><%= formatPeople(element.Tourists.length) %></td>
        <td>
          <a href="/tours/<%= element.id %>/edit" class="btnMenu">Edit</a>
          <a href="/tours/<%= element.id %>/delete" onclick="return confirm('Are you sure to delete?')" class="btnMenu">Delete</a>
          <a href="/tours/<%= element.id %>/addTourist" class="btnMenu">Add Tourist</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('./partials/footer') %>