<%- include('./partials/header') %>

<h2>Tourist List</h2>
<p><a href="/tourists/add" class="btnMenu">add tourist</a></p>
<table class="zui-table">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((element, index) => { %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= element.getFullName() %></td>
        <td><%= element.age %></td>
        <td><%= element.phone %></td>
        <td>
          <a href="/tourists/<%= element.id %>/edit" class="btnMenu">Edit</a>
          <a href="/tourists/<%= element.id %>/delete" onclick="return confirm('Are you sure to delete?')" class="btnMenu">Delete</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('./partials/footer') %>